@model List<AvaliacaoLp3_Shopping.ViewModels.LojaViewModel>
@{
    ViewData["Title"] = "Administrador";
}


@if(Model.Count == 0) 
{
    <p>Nenhuma loja cadastrada</p>
    <form action="Cadastro">
            <button>Cadastrar loja</button>
    </form>
}
else 
{
    <h1>Lojas</h1>
    <p>@Model.Count lojas cadastradas</p>

    @*percorrendo e exibindo a lista*@
    @foreach(var loja in Model)
    {
       
        <h3>@loja.Nome</h3>
        <p>Piso: @loja.Piso</p>
        <a href="/Shopping/Detalhe/@loja.Id">
            <button>Detalhe</button>
        </a>
        
        <hr>

    }

}
