@model List<AvaliacaoLp3_Shopping.ViewModels.LojaViewModel>
@{
    ViewData["Title"] = "Lojas";
}


@if(Model.Count == 0) 
{
    <p>Nenhuma loja cadastrada</p>
    <button>Cadastrar loja</button>
}
else 
{
    <h1>Lojas</h1>
    <p>@Model.Count lojas cadastradas</p>

    @*percorrendo e exibindo a lista*@
    @foreach(var loja in Model)
    {
        <h3>
            <a href="/Loja/Show/@loja.Id">@loja.Nome</a>   
        </h3>

        <p>@loja.Piso</p>

        @if(loja.Loja == true)
        {
            @*<button>Iniciar Conversa</button>*@
            <p>Loja</p>
        } else {
            <p>Kiosque</p>
        }
        
        <hr>
    }
}


